{% extends 'base.html.twig' %}

{% block title %}Renseigner{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/formFicheFrais.css') }}" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" type="text/css" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Renseigner un nouveau Frais au Forfait :</h6>
            </div>
            <div class="card-body py-1 mb-2">
                <form method="post">
                    <div class="login-box">
                        <div class="form-login">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col">
                                        {{ form_row(form.mois) }}
                                    </div>
                                </div>
                                <div class="card shadow mb-2">
                                    <div class="card-body py-1 mb-2">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{ form_row(form.libelleKM)}}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.montantKM)}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{ form_row(form.libelleREP)}}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.montantREP)}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{ form_row(form.libelleNUI)}}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.montantNUI)}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{ form_row(form.libelleETP)}}
                                            </div>
                                            <div class="col-sm-3">
                                                {{ form_row(form.montantETP)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary mb-3">Créer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow mb-1">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Renseigner un nouveau Frais Hors Forfait :</h6>
            </div>
            <div class="card-body py-1">
                <form method="post">
                    <div class="login-box">
                        <div class="form-login mb-4">
                            {{ form_start(form2) }}
                                <div class="row">
                                    <div class="col">
                                        {{ form_row(form2.date) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form_row(form2.libelle) }}
                                    </div>
                                    <div class="col">
                                        {{ form_row(form2.montant) }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary">Créer</button>
                            {{ form_end(form2) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
{% endblock %}
