{% extends 'baseAdmin.html.twig' %}

{% block title %}Valider{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2-comptable.css') }}" type="text/css">
    <link rel="stylesheet"href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="display:flex; justify-content: space-between">
                <h5 class="m-0 font-weight-bold text-primary">Affichage des Fiches de Frais de l'utilisateur {{ prenomVisiteur }}
                pour le mois
                {% if (mois == 1) %}
                    de Janvier
                {% elseif (mois == 2) %}
                    de Février
                {% elseif (mois == 3) %}
                    de Mars
                {% elseif (mois == 4) %}
                    d'Avril
                {% elseif (mois == 5) %}
                    de Mai
                {% elseif (mois == 6) %}
                    de Juin
                {% elseif (mois == 7) %}
                    de Juillet
                {% elseif (mois == 8) %}
                    d'Août
                {% elseif (mois == 9) %}
                    de Septembre
                {% elseif (mois == 10) %}
                    d'Octobre
                {% elseif (mois == 11) %}
                    de Novembre
                {% elseif (mois == 12) %}
                    de Décembre
                {% endif %}
                </h5>
                <button type="submit" class="btn btn-outline-primary">Modifier / Valider</button>
            </div>
            <div class="card-body">
                <div class="card-shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Fiche de Frais :</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {% if ficheFrais != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nombre de justificatifs</th>
                                        <th>Montant total</th>
                                        <th>Date de modification</th>
                                        <th>Situation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fiches in ficheFrais %}
                                        {% if fiches.nbJustificatifs != null %}
                                            <tr>
                                                <td>{{ fiches.nbJustificatifs }}</td>
                                                <td>{{ fiches.montantValide }}€</td>
                                                <td>{{ fiches.dateModif }}</td>
                                                <td>{{ fiches.idEtat }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td>Pas de fiche de frais pour ce visiteur ce mois</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="card-shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Frais au Forfait :</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {% if ligneFraisForfait != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Quantité</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lignes in ligneFraisForfait %}
                                        <tr>
                                            {% if lignes.idFraisForfait == KM %}
                                                <td>{{ lignes.idFraisForfait }} (0.62€)</td>
                                                <td>{{ lignes.quantite }} km</td>
                                            {% elseif lignes.idFraisForfait == ETP %}
                                                <td>{{ lignes.idFraisForfait }} (110€)</td>
                                                {% if lignes.quantite|length > 1 %}
                                                    <td>{{ lignes.quantite }} étapes</td>
                                                {% else %}
                                                    <td>{{ lignes.quantite }} étape</td>
                                                {% endif %}
                                            {% elseif lignes.idFraisForfait == NUI %}
                                                <td>{{ lignes.idFraisForfait }} (80€)</td>
                                                {% if lignes.quantite|length > 1 %}
                                                    <td>{{ lignes.quantite }} nuits</td>
                                                {% else %}
                                                    <td>{{ lignes.quantite }} nuit</td>
                                                {% endif %}
                                            {% elseif lignes.idFraisForfait == REP %}
                                                <td>{{ lignes.idFraisForfait }} (25 €)</td>
                                                <td>{{ lignes.quantite }} repas</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                            <tr>
                                <td>Aucun frais forfait</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="card-shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Frais Hors Forfait :</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {% if ligneFraisHorsForfait != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Date</th>
                                        <th>Libellé</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for forfait in ligneFraisHorsForfait %}
                                        <tr>
                                            <td>{{ forfait.date }}</td>
                                            <td>{{ forfait.libelle }}</td>
                                            <td>{{ forfait.montant }}€</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td>Aucun frais hors forfait</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    <form method="POST">
                        <input type="submit" name="submit" value="Supprimer le Hors Forfait" class="btn btn-outline-primary"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}
