{% extends 'base.html.twig' %}

{% block title %}Visualiser{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}" type="text/css">
    <link rel="stylesheet"href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="rowtab">
            <div class="col-lg-6">
                {{ form_start(form) }}
                    {{ form_row(form.mois) }}
                    <button type="submit" class="btn btn-outline-primary mb-3">Valider</button>
                {{ form_end(form) }}
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Fiche de Frais : </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                            {% if fiche_frais != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Mois</th>
                                        <th>Nombre de justificatifs</th>
                                        <th>Montant total</th>
                                        <th>Situation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fiches in fiche_frais %}
                                        {% if fiches.nbJustificatifs != null %}
                                            <tr>
                                                {% if fiches.mois == 1 %}
                                                    <td>Janvier</td>
                                                {% elseif fiches.mois == 2 %}
                                                    <td>Février</td>
                                                {% elseif fiches.mois == 3 %}
                                                    <td>Mars</td>
                                                {% elseif fiches.mois == 4 %}
                                                    <td>Avril</td>
                                                {% elseif fiches.mois == 5 %}
                                                    <td>Mai</td>
                                                {% elseif fiches.mois == 6 %}
                                                    <td>Juin</td>
                                                {% elseif fiches.mois == 7 %}
                                                    <td>Juillet</td>
                                                {% elseif fiches.mois == 8 %}
                                                    <td>Août</td>
                                                {% elseif fiches.mois == 9 %}
                                                    <td>Septembre</td>
                                                {% elseif fiches.mois == 10 %}
                                                    <td>Octobre</td>
                                                {% elseif fiches.mois == 11 %}
                                                    <td>Novembre</td>
                                                {% elseif fiches.mois == 12 %}
                                                    <td>Décembre</td>
                                                {% endif %}
                                                <td>{{ fiches.nbJustificatifs }}</td>
                                                <td>{{ fiches.montantValide }}€</td>
                                                <td>{{ fiches.idEtat }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td>Aucune fiche de frais</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Frais au Forfait :</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                            {% if ligne_frais_forfait != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Mois</th>
                                        <th>Libellé</th>
                                        <th>Quantité</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lignes in ligne_frais_forfait %}
                                        <tr>
                                            {% if lignes.mois == 1 %}
                                                <td>Janvier</td>
                                            {% elseif lignes.mois == 2 %}
                                                <td>Février</td>
                                            {% elseif lignes.mois == 3 %}
                                                <td>Mars</td>
                                            {% elseif lignes.mois == 4 %}
                                                <td>Avril</td>
                                            {% elseif lignes.mois == 5 %}
                                                <td>Mai</td>
                                            {% elseif lignes.mois == 6 %}
                                                <td>Juin</td>
                                            {% elseif lignes.mois == 7 %}
                                                <td>Juillet</td>
                                            {% elseif lignes.mois == 8 %}
                                                <td>Août</td>
                                            {% elseif lignes.mois == 9 %}
                                                <td>Septembre</td>
                                            {% elseif lignes.mois == 10 %}
                                                <td>Octobre</td>
                                            {% elseif lignes.mois == 11 %}
                                                <td>Novembre</td>
                                            {% elseif lignes.mois == 12 %}
                                                <td>Décembre</td>
                                            {% endif %}
                                            {% if lignes.idFraisForfait == KM %}
                                                <td>{{ lignes.idFraisForfait }} (0.62€)</td>
                                                <td>{{ lignes.quantite }}km</td>
                                            {% elseif lignes.idFraisForfait == ETP %}
                                                <td>{{ lignes.idFraisForfait }} (110€)</td>
                                                <td>{{ lignes.quantite }} étape(s)</td>
                                            {% elseif lignes.idFraisForfait == NUI %}
                                                <td>{{ lignes.idFraisForfait }} (80€)</td>
                                                <td>{{ lignes.quantite }} repas</td>
                                            {% elseif lignes.idFraisForfait == REP %}
                                                <td>{{ lignes.idFraisForfait }} (25 €)</td>
                                                <td>{{ lignes.quantite }} nuit(s)</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                            <tr>
                                <td>Aucun frais forfait</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Hors Forfait : </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                            {% if hors_forfait != null %}
                                <thead class="thead-light">
                                    <tr>
                                        <th>Date</th>
                                        <th>Libellé</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for forfait in hors_forfait %}
                                        <tr>
                                            <td>{{ forfait.date }}</td>
                                            <td>{{ forfait.libelle }}</td>
                                            <td>{{ forfait.montant }}€</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td>Aucun frais hors forfait</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('demo/datatables-demo.js') }}"></script>
{% endblock %}
