{% extends 'base.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <h1>Visiteur index</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Login</th>
                <th scope="col">Mdp</th>
                <th scope="col">Adresse</th>
                <th scope="col">CP</th>
                <th scope="col">Ville</th>
                <th scope="col">DateEmbauche</th>
            </tr>
        </thead>
    <tbody>
        {% for visiteur in visiteurs %}
            <tr class="table-active">
                <td>{{ visiteur.id }}</td>
                <td>{{ visiteur.nom }}</td>
                <td>{{ visiteur.prenom }}</td>
                <td>{{ visiteur.login }}</td>
                <td>{{ visiteur.mdp }}</td>
                <td>{{ visiteur.adresse }}</td>
                <td>{{ visiteur.cp }}</td>
                <td>{{ visiteur.ville }}</td>
                <td>{{ visiteur.dateEmbauche }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_visiteur_show', {'id': visiteur.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_visiteur_edit', {'id': visiteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun Visiteur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_visiteur_new') }}">Create new</a>
{% endblock %}
